<div class="modal fade" id="PrintModal" tabindex="-1" aria-labelledby="<%= id %>ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="<%= id %>ModalLabel">Sort by Issue Dates</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="<%= action %>" method="POST">
            <h3 class="modal-title fs-5">After this date:</h3>
            <input type="date" class="form-control" name="date">
            <h3 class="modal-title fs-5">Before this date:</h3>
            <input type="date" class="form-control" name="endDate">
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>