<main class="container w-75">
  <div class="vstack gap-5">
    <a href="/">
      <button class="btn btn-danger menuButton w-100">Back</button>
    </a>
    <a class="btn btn-secondary menuButton" href="/admin/login">
      <strong>Login</strong>
    </a>

    <a class="btn btn-secondary menuButton" href="/admin/signup">
      <strong>Sign Up</strong>
    </a>
  </div>
</main>