<div class="hstack gap-5 mt-3">
  <a href="/<%= home %>/<%= date %>/<%= route %>/<%= location %>" class="w-100">
    <button class="btn btn-danger w-100" type="button">Back</button>
  </a>
  <button class="btn btn-primary w-100">Submit</button>
</div>