<div class="sig">
  <canvas class="border sigPad"></canvas>
  <input type="text" hidden class="sigInput" value="" name="sig[<%= index %>]">
  <div>
    <button type="button" class="btn btn-danger sigPadClear">Clear</button>
  </div>
</div>