<section class="container">
  <div class="card">
    <div class="card-body bg-secondary bg-opacity-10" autocomplete="off">
      <main>
        <ol style="list-style-type:none">

        </ol>
      </main>
      <div class="hstack gap-5 mt-5">
        <a href="/" class="w-100">
          <button class="btn btn-success w-100" type="button">Home</button>
        </a>
        <button class="btn btn-danger w-100" type="button" onclick="history.back()">Back</button>
        <button class="btn btn-primary w-100" type="button" onclick="copy()">Copy</button>
      </div>
    </div>
  </div>
</section>