<main class="container w-75">
  <div class="vstack gap-5">
    <a href="/clearance">
      <button class="btn btn-success menuButton w-100">Clearance</button>
    </a>
    <a href="/report">
      <button class="btn btn-primary menuButton w-100">Report</button>
    </a>
    <a href="/displayBoard">
      <button class="btn btn-danger menuButton w-100">Display Board</button>
    </a>
    <a href="/collection">
      <button class="btn btn-secondary menuButton w-100">Collection Schedule</button>
    </a>
    <a href="/admin">
      <button class="btn btn-warning menuButton w-100">Admin</button>
    </a>
  </div>
</main>